{
  "extends": ["next", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "plugins": ["@typescript-eslint", "unused-imports", "prettier"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "prettier/prettier": [
          "error",
          {
            "singleQuote": false
          }
        ],
        "react/destructuring-assignment": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/require-default-props": "off",
        "react/jsx-props-no-spreading": "off",
        "@next/next/no-img-element": "off",
        "import/order": [
          "error",
          {
            "groups": ["builtin", "external", "internal"],
            "pathGroups": [
              {
                "pattern": "react",
                "group": "external",
                "position": "before"
              }
            ],
            "pathGroupsExcludedImportTypes": ["react"],
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": true
            }
          }
        ],
        "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "error",
          { "argsIgnorePattern": "^_" }
        ]
      }
    },
    {
      "files": [
        "src/components/About.tsx",
        "src/components/Canvas.tsx",
        "src/components/Divider.tsx",
        "src/components/Features.tsx",
        "src/components/Footer.tsx",
        "src/components/Header.tsx",
        "src/components/LazyShow.tsx",
        "src/components/MainHero.tsx",
        "src/components/Pricing.tsx",
        "src/components/Product.tsx"
      ],
      "rules": {
        "prettier/prettier": [
          "warn",
          {
            "singleQuote": true,
            "bracketSameLine": true,
            "tabWidth": 2,
            "useTabs": false,
            "semi": false,
            "arrowParens": "avoid"
          }
        ]
      }
    }
  ]
}
